/* Cambios en los colores */
:root {
    --color-back: linear-gradient(to right, var(--color-back-start), var(--color-back-end));
    --color-back-start:#1a1a1a;
    --color-back-end:#000000;
    --color-blue-1:#00e6e6;
    --color-blue-2:#004d4d;
    --color-brown-1:#ff9900;
    --color-brown-2:#663300;
    --color-white-1:#ffffff;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--color-back);
    color: var(--color-blue-1);
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-blue-2);
}

.logo img {
    height: 50px;
}

.logo p {
    padding: 10px;
    background-color: var(--color-brown-1);
    border-radius: 5px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-brown-1);
}

.navegation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegation li {
    margin-left: 1rem;
}

.navegation a {
    text-decoration: none;
    color: var(--color-blue-1);
    font-weight: bold;
    padding: 10px 15px;
    transition: 1s;
}

.navegation a:hover {
    color: var(--color-back);
    background-color: var(--color-brown-1);
    border-radius: 5px;
    padding: 15px 20px;
}

/* Contenedor principal */
main {
    padding: 4rem;
}

/* Sección del juego */
.game {
    padding: 10rem;
    text-align: center;
    background-color: var(--color-blue-1);
    border: 10px solid var(--color-blue-2);
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 1.5s ease;
    margin-top: 3rem;
}

.game:hover {
    transform: scale(1.05);
}

.game p {
    font-size: 1.5rem;
    color: var(--color-blue-2);
}

.game .additional-functionality {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-blue-1);
    border: 2px solid var(--color-brown-1);
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    margin-top: 20px;

}

.game .additional-functionality p {
    font-size: 1rem;
    color: var(--color-white-1);
}

.game:hover .additional-functionality {
    display: block;
}

/* Sección de información */
.info {
    margin-top: 2rem;
}

.title_1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white-1);
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-brown-1);
    margin-bottom: 0.5rem;
}

.text {
    color: var(--color-blue-1);
    line-height: 1.5;
}

/* Pie de página */
footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--color-blue-2);
    color: var(--color-blue-1);
}

.about-us a {
    color: var(--color-brown-1);
}

.about-us a:hover {
    color: var(--color-brown-2);
}
